* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    outline-width: 0;
}

label {
    margin-left: 15px;
}

img {
    max-width: 100%;
}

#uf_health_logo {
    margin-left: 1%;
    max-width: 10%;
    margin-top: 0.5%;
    padding-bottom: 5px;
}

#uf_logo {
    max-width: 50%;
    opacity: 0.65;
}

#gator_good {
    margin-left: 13%;
    opacity: 0.65;
}

p {
    font-size: 1vmax;
    color: black;
}

[type="checkbox"] {
    vertical-align: middle;
    margin-left: 7%;
    margin-bottom: 10px;
    transform: scale(1.5)
}

[type="radio"] {
    color: black;
    transform: scale(1.5);
    margin-right: 0;
}

[type="text"] {
    margin-top: 20px;
    width: 40%;
    height: 2vmax;
    margin-left: 30%;
    text-align: center;
    font-size: 1vmax;
    border: 1px solid black;
    border-radius: 25px;
}

[type="password"] {
    margin-top: 20px;
    width: 40%;
    height: 2vmax;
    margin-left: 30%;
    text-align: center;
    font-size: 1vmax;
    border: 1px solid black;
    border-radius: 25px;
}

[type="email"] {
    margin-top: 20px;
    width: 40%;
    height: 2vmax;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    font-size: 1vmax;
}

#user_email_label {
    margin-left: 26%;
}

#sample_title {
    margin-left: 27.5%;
}

#panel_title {
    margin-left: 40%;
}

#other_match {
    margin-left: 0%;
}

[type="submit"] {
    background-color: lightgrey;
    color: #44475a;
    height: 2vmax;
    font-size: 1vmax;
    border-radius: 12px;
    border-color: #44475a;
    margin-top: 20px;
    margin-left: 30%;
    width: 40%;
    text-align: center;
    box-shadow: 0 8px 6px -6px #44475a;
}

[type="submit"]:hover {
    background-color:#44475a;
    color: lightgrey;
}

[type="button"]:not([class=table-button]) {
    background-color: lightgrey;
    color: #44475a;
    height: 2vmax;
    font-size: 1vmax;
    border-radius: 12px;
    border-color: #44475a;
    margin-top: 20px;
    margin-left: 30%;
    width: 40%;
    text-align: center;
    box-shadow: 0 8px 6px -6px #44475a;
}

[type="button"]:not([class=table-button]):hover {
    background-color:#44475a;
    color: lightgrey;
}

#logInButton {
    margin-left: 40%;
    width: 20%;
}

#log_out_button {
    float: left;
    width: 7%;
    margin-left: 92.5%;
    margin-top: -8.7vmax;
}

button:not([class=card]) {
    background-color: lightgrey;
    color: #44475a;
    height: 2vmax;
    font-size: 1vmax;
    border-radius: 12px;
    border-color: #44475a;
    margin-top: 20px;
    margin-left: 37.5%;
    width: 25%;
    text-align: center;
    box-shadow: 0 8px 6px -6px #44475a;
}

button:not([class=card]):hover {
    background-color:#44475a;
    color: lightgrey;
}

.centered {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.loader {
    border: 16px solid #0021A5;
    border-top: 16px solid #E28F41;
    border-radius: 50%;
    width: 4vmax;
    height: 4vmax;
    margin-left: 45%;
    margin-top: 0;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flex-container {
    display: flex;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
}

.flex-child {
    padding: 2rem 1rem;
    margin: 0.375rem;
    flex-grow: 0.30;
    justify-content: flex-start;
}  


#report_sample_box {
    border: 3px solid #bdbdbd;
    width: 20%;
    border-radius: 25px;
    font-size: 1vmax;
}

#report_panel_box {
    border: 3px solid #bdbdbd;
    border-radius: 25px;
    font-size: 1vmax;
}

#samples_button {
    margin-left: 35%;
}

body::after {
    background-color: whitesmoke;
    content: "";
    background: url(../img/UF_Treatment_Overlay.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
  }

.banner {
    background-image: linear-gradient(to right, #6C9AC3 , #E28F41);
    width: 99.5%;
    padding: 5px;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000000;
    height: 5vmax;
}

.nav-main {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -5vmax;
    left: 10.5vmax;
    width: 80%;
    /* border: solid 1px blue; */
}

.nav-main a {
    transition: 0.3s;
    width: 2.5vmax; /*4.75*/
    text-decoration: none; /* Remove underline */
    color: whitesmoke;
    text-align: center;
    font-size: 1.2vmax;
    padding-top: 1.75vmax;
    padding-bottom: 1.75vmax;
    flex: 1;
}

.nav-main a:hover {
    box-shadow: inset 0 0 10px #000000;
    background-image: linear-gradient(to right, #E28F41, #0021A5);
    background-attachment: fixed;
    background-position: center;
}

.ctsi { left: 250px; }
.lnn  { left: 350px; }
.test1 {left: 450px}
.test2 {left: 550px}
.test3 {left: 650px}
.test4 {left: 750px}
.test5 {left: 850px}
.test6 {left: 950px}
.test7 {left: 1050px}
.test8 {left: 1150px}
.test9 {left: 1250px}
.test10 {left: 1350px}
.test11 {left: 1450px}
.test12 {left: 1550px}
.test13 {left: 1650px}

.content {
    background-color: rgba(245,245,245,1.0);
    width: 75%;
    border-radius: 25px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding-top: 2vmax;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12); 
}

.card {
    font-size: 1.2vmax;
    background-image: linear-gradient(100deg, #0021A5, #E28F41);
    background-attachment: fixed;
    background-position: center;
    border-color: rgba(27,27,27, 1);
    color: #f5f5f5;
    border-radius: 25px;
    text-align: center;
    width: 75%;
    height: 7.5vmax;
    transition: ease-in-out .3s;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.card span {
    display: none;
}

.card:hover {
    padding: 0.5vmax;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    text-align: justify;
}

.card:hover span {
    display: block;
    font-size: 1vmax;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1.5vw;
    width: 100%;
    padding: 20px;
}

.menu-child {
    /* padding: 2rem 1rem; */
    margin: -1%;
    flex-grow: 0.15;
}

.question-container {
    font-size: 1vmax;
    width: 50%;
}

.text-box {
    border: 3px solid #bdbdbd;
    border-radius: 25px;
}

.statement {
    margin-left: 6vw;
}

.choices {
    margin-left: 8vw;
}

.germline-table {
    margin-top: -1vh;
    margin-left: -1vmin;
}

.qc-table {
    margin-left: 6vw;
    padding-bottom: 1vh;
}

.table-button {
    margin-top: -0.5vh;
    width: 11.5vw;
    background-color: lightgrey;
    color: #44475a;
    height: 2vmax;
    font-size: 1vmax;
    border-radius: 8px;
    border-color: #44475a;
    text-align: center;
    box-shadow: 0 8px 6px -6px #44475a;
}

.table-button:hover {
    background-color:#44475a;
    color: lightgrey;
}

#match_cell {
    font-size: 0.75vmax;
}

th, tr, td {
    border: 1px solid black;
    text-align: center;
    padding: 0.8vmax;
}

.back {
    background-image: url(../img/back_arrow.svg);
    background-repeat: no-repeat;
    border-radius: 50% !important;
    width: 2vmax !important;
    margin-top: 0 !important;
    margin-left: -15vw !important;
}

#report_selection_back {
    margin-left: 1vw !important;
}