:root {
    --uf-light-blue: rgba(108, 154, 195, 1);
    --uf-dark-blue: rgba(0, 33, 165, 1);
    --uf-orange: rgb(226, 143, 65, 1);
    --content-bg: rgba(245, 245, 245, 1);
    --dark-gray: rgba(68, 71, 90, 1);
    --text-border: rgba(189, 189, 189, 1);
}

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    outline: 0;
    outline-style: none;
    outline-width: 0;
}

p {
    font-size: 1.2em;
    color: black;
}

.body-div {
    height: 100%;
    width: 100%;
}

/* [type="checkbox"] {
    margin-left: 7%;
    margin-bottom: 10px;
    transform: scale(1.5)
} */

.radio {
    font-size: 1.2rem;
    color: var(--uf-dark-blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 12px;
}

.radio:hover {
    border: solid 1px var(--uf-light-blue);
    border-radius: 12px;
    background-color: rgba(108, 154, 195, .1);
}

.radio:focus-within {
    border: solid 2px currentColor;
    border-radius: 12px;
    background-color: rgba(108, 154, 195, 0.4);
}

.radio:focus-within .radio__label {
    opacity: 1;
}

.radio__input {
    flex: 0.5;
    display: flex;
    transform: translateY(0.05rem);
    padding-right: 1.2%;
}

.radio__input input {
    opacity: 0;
    width: 0;
    height: 0;
}

.radio__input input:checked + .radio__control{
    background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
    box-shadow: 0 0 0 0.05em var(--content-bg), 0 0 0.15em 0.1em currentColor;
}

.radio__control {
    display: grid;
    place-items: center;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
}

.radio__input input + .radio__control::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    box-shadow: inset 0.5em 0.5em currentColor;
    border-radius: 50%;
    transition: 180ms transform ease-in-out;
    transform: scale(0);
}

.radio__input input:checked + .radio__control::before {
    transform: scale(1);
}

.radio__label {
    flex: 3;
    transition: 180ms all ease-in-out;
    opacity: 0.8;
    color: var(--uf-dark-blue);
    word-break: break-word;
}

.checkbox {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    color: var(--uf-dark-blue);
}

.checkbox__input input {
    opacity: 0;
    width: 1em;
    height: 1em;
}

.checkbox__control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border-radius: 0.25em;
    border: 0.1em solid currentColor;
}

.checkbox__input {
    flex: 1;
    display: grid;
    grid-template-areas: "checkbox";
}

.checkbox__input > * {
    grid-area: checkbox;
}

.checkbox__control svg {
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left;
}

.checkbox__input input:checked + .checkbox__control svg {
    transform: scale(1);
}

.checkbox__input input:checked + .checkbox__control {
    box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.email-label {
    margin-left: 25%;
}

[type="submit"] {
    background-color: lightgrey;
    color: #44475a;
    height: 2vmax;
    font-size: 1vmax;
    border-radius: 12px;
    border: solid 1px var(--dark-gray);
    margin-top: 20px;
    margin-left: 30%;
    width: 40%;
    text-align: center;
    box-shadow: 0 8px 6px -6px var(--dark-gray);
}

[type="submit"]:active {
    background-color:#44475a;
    color: lightgrey;
    transform: scale(0.95);
}

button:not([class=card]) {
    background-color: lightgrey;
    color: var(--dark-gray);
    height: 2vmax;
    font-size: 1vmax;
    border: 0;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 6px -6px var(--dark-gray);
    transition: 0.1s;
}

button:not([class=card]):active {
    background-color:var(--dark-gray);
    color: lightgrey;
    transform: scale(0.95);
}

.centered {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.loader {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    margin: auto;
    padding-bottom: 10%;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 1.2rem;
}

.dot:nth-child(odd) {
    animation: up 1s cubic-bezier(1,0,0,1) alternate-reverse infinite;
}

.dot:nth-child(even) {
    animation: down 1s cubic-bezier(1,0,0,1) alternate-reverse infinite;
}

@keyframes up {
    0% {
        transform: translateY(100px);
        background-color: var(--uf-dark-blue);
    }
    100% {
        transform: translateY(50px);
        background-color: var(--uf-orange);
    }
}

@keyframes down {
    0% {
        transform: translateY(50px);
        background-color: var(--uf-orange);
    }
    100% {
        transform: translateY(100px);
        background-color: var(--uf-dark-blue);
    }
}

#samples_button {
    margin-left: 35%;
}

body {
    background-color: var(--dark-gray);
}

.body-img {
    content: "";
    background: url(../img/UF_Treatment_Overlay.png) center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.banner {
    display: flex;
    padding: 5px;
    height: 5vmax;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.banner-img {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    background-image: linear-gradient(to right, var(--uf-light-blue), var(--uf-orange));
    box-shadow: inset 0 0 10px #000000;
    z-index: -1;
}

.uf-health-logo {
    flex: 0.75;
    margin-left: 2%;
}

.uf-health-logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.nav-main {
    flex: 3;
    display: flex;
    flex-direction: row;
    top: 0;
    height: 100%;
}

.nav-main a {
    transition: 0.15s;
    text-decoration: none;
    color: var(--content-bg);
    text-align: center;
    font-size: 1.2vmax;
    top: 0;
    padding-top: 1.5em;
    flex-grow: 0.5;
}

.nav-main a:active {
    box-shadow: inset 0 0 10px #000000;
    background-image: linear-gradient(to right, var(--uf-orange), var(--uf-dark-blue));
    background-attachment: fixed;
    background-position: center;
}

.logout-button {
    flex: 0.5;
    justify-content:flex-end;
}

.logout-button button {
    width: 5.5em;
    margin-left: 3.5em;
    margin-top: 1.5em;
}

.content {
    width: 75%;
    margin: auto;
    margin-top: 10%;
    padding-top: 1vmax;
    position: relative;
    z-index: 1;
    margin-bottom: 5%;
}

.content-bg {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--content-bg);
    border: 0;
    border-radius: 25px;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    z-index: -1;
}

.intro {
    display: flex;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}

.intro-title {
    flex: 1;
    width: 50%;
    margin: auto;
    font-size: 2.8vw;
}

.intro-title h1 {
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
}

.intro-title .gator {
    color: var(--uf-dark-blue);
    text-shadow: 0 0 3px var(--uf-orange), 0 0 5px var(--uf-dark-blue);
}

.intro-title .genome {
    color: var(--uf-orange);
    text-shadow: 0 0 3px var(--uf-dark-blue), 0 0 5px var(--uf-orange);
}

.intro-text {
    flex: 1;
    width: 50%;
    margin: auto;
    padding-left: 2em;
    padding-right: 3em;
    border: solid 3px var(--text-border);
    border-radius: 25px;
}

.intro-buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;
    overflow: hidden;
}

.sign-in {
    display: flex;
    flex-direction: column;
}

.sign-in-button {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 50%;
}

.sign-in-button button {
    width: 100%;
}

.log-in-container {
    position: relative;
}

.log-in-box-shadow {
    opacity: 0;
    background-color: var(--dark-gray);
    border-radius: 18px;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.log-in-box {
    padding: 2em;
    border-radius: 18px;
    background-image: linear-gradient(100deg, var(--uf-light-blue), var(--uf-orange));
    opacity: 0;
    z-index: -1;
}

.log-in-box button {
    margin-top: 0.5vmax;
    width: 40%;
    margin-left: 30%;
}

.request-access {
    display: flex;
    flex-direction: column;
}

.request-access-button {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 65%;
}

.request-access-button button {
    width: 100%;
}

.request-access-container {
    position: relative;
}

.request-access-box-shadow {
    opacity: 0;
    background-color: var(--dark-gray);
    border-radius: 18px;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.request-access-box {
    padding: 2em;
    border-radius: 18px;
    background-image: linear-gradient(100deg, var(--uf-light-blue), var(--uf-orange));
    opacity: 0;
    z-index: -1;
}

.request-access-box button {
    margin-top: 0.5vmax;
    width: 50%;
    margin-left: 25%;
}

.active {
    animation: activate 2s cubic-bezier(0.5,0.5,0,1);
	z-index: 5;
}

.inactive {
    animation: inactivate 2s cubic-bezier(0.5,0.5,0,1);
	z-index: 5;
}

@keyframes activate {
    0%{
        transform: translateY(-700px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes inactivate {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-700px);
    }
}

[type="text"] {
    text-align: center;
    font-size: 1vmax;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2em;
}

[type="password"] {
    text-align: center;
    font-size: 1vmax;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2em;
}

[type="email"] {
    text-align: center;
    font-size: 1vmax;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2em;
}

.card {
    font-size: 1.2vmax;
    background-image: linear-gradient(100deg, var(--uf-dark-blue), var(--uf-orange));
    background-attachment: fixed;
    background-position: center;
    color: var(--content-bg);
    border: 0;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    height: 7.5vmax;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.card span {
    display: none;
}

.card:hover {
    font-size: 0.9vmax;
    animation: zoom_out 1.5s cubic-bezier(0.5,0.5,0,1.5);
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

.card:hover span {
    display: block;
    font-size: 0.7vmax;
    animation: slide_in 2s cubic-bezier(0.5,0.5,0,1);
}

.blur {
    filter: blur(3px);
    z-index: -1;
}

@keyframes zoom_out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.75);
    }
}

@keyframes slide_in {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.menu {
    position: relative;
    top: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.menu-child {
    flex: 1 0 33%;
}

.flex-img-container {
    position: relative;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vmax;
    padding-bottom: 0.3vmax;
}

.spacer {
    flex: 3;
}

.uf-ctsi {
    flex: 1.5;
    padding: 20px;
}

.uf-ctsi img {
    opacity: 0.9;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.powered-by-aws {
    flex: 1;
}

.powered-by-aws img {
    opacity: 0.9;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    margin-left: 1.5%;
    padding: 5px;
}

.flex-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 3px;
    border-radius: 12px;
    margin: 0.5%;
}

.flex-child:nth-child(odd) {
    border-color: var(--uf-dark-blue);
}

.flex-child:nth-child(even) {
    border-color: var(--uf-orange);
}

.flex-child-child {
    flex: 1;
    font-size: 0.75vmax;
    padding: 10px;
    justify-content: flex-start;
}

.question-container {
    font-size: 1vmax;
    width: 50%;
}

.question-button {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.question-button button {
    width: 20%;
}

.text-box {
    border: 3px solid var(--text-border);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.statement {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.custom-match {
    width: 60%;
    margin: auto;
}

.custom-match [type="text"] {
    width: 75%;
}

.germline-table {
    margin-top: -1vh;
    margin-left: -1vmin;
}

.qc-table {
    margin-left: 6vw;
    padding-bottom: 1vh;
}

.table-button {
    margin-top: -0.5vh;
    width: 11.5vw;
    background-color: lightgrey;
    color: var(--dark-gray);
    height: 2vmax;
    font-size: 1vmax;
    border-radius: 8px;
    border: solid 1px var(--dark-gray);
    text-align: center;
    box-shadow: 0 8px 6px -6px var(--dark-gray);
}

.table-button:active {
    background-color:var(--dark-gray);
    color: lightgrey;
    transform: scale(0.95);
}

#match_cell {
    font-size: 0.75vmax;
}

th, tr, td {
    border: 1px solid black;
    text-align: center;
    padding: 0.8vmax;
}

.back {
    background-image: url(../img/back_arrow.svg);
    background-repeat: no-repeat;
    border-radius: 50% !important;
    width: 2vmax !important;
    margin-top: 0 !important;
    margin-left: -15vw !important;
}

#report_selection_back {
    margin-left: 1vw !important;
}

#request_selection_back {
    margin-left: 1vw !important;
}

#request_reports {
    word-wrap: break-word !important;
    vertical-align: middle !important;
    margin-left: 1vw !important;
}

.centered .scene{
    height: 500px;
}

.scene {
    position: relative;
    width: 40%;
    margin: auto;
    background: #01070a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.scene g {
    position: absolute;
    top: -250px;
    background: rgba(255,255,255,0.5);
    animation: streak linear infinite;
}

@keyframes streak {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(200vh);
    }
}

.scene .rocket {
    position: relative;
    animation: flying 0.2s ease infinite;
}

@keyframes flying {
    0%, 100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

.scene .rocket::before {
    content: '';
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(var(--uf-light-blue), transparent);
}

.scene .rocket::after {
    content: '';
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(var(--uf-light-blue), transparent);
    filter: blur(20px);
}





/* MULTISELECT JS CSS */

.ms-container{
    background: transparent url('../img/switch.png') no-repeat 50% 50%;
    width: 370px;
}

.ms-container:after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    min-height: 0;
    visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
    background: #fff;
    color: #555555;
    float: left;
    width: 45%;
}
.ms-container .ms-selection{
    float: right;
}

.ms-container .ms-list{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    height: 200px;
    padding: 0;
    overflow-y: auto;
}

.ms-container .ms-list.ms-focus{
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
    outline: thin dotted \9;
}

.ms-container ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.ms-container .ms-optgroup-container{
    width: 100%;
}

.ms-container .ms-optgroup-label{
    margin: 0;
    padding: 5px 0px 0px 5px;
    cursor: pointer;
    color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
    border-bottom: 1px #eee solid;
    padding: 2px 10px;
    color: #555;
    font-size: 14px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background-color: #08c;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
    background-color: #eee;
    color: #aaa;
    cursor: text;
}

.search-input {
    width: 90%;
    border-radius: 8px;
    height: 1vmax;
    font-size: 0.5vmax;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.034);
}

#select_all_box {
    order: 1;
}
#parent_selector_child_box {
    order: 2;
}
#select_all_button {
    width: 80%;
    margin-left: 1vmax;
    margin-top: 4.5vmax;
}