/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    HaKmonkey/nf-wgs-ufl additional Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Local config options for all compute environments
----------------------------------------------------------------------------------------
*/

process {
    executor = 'local'
    errorStrategy = { task.attempt <= 2 ? 'retry' : 'finish' }
    maxRetries = 2

    withLabel: small_process {
        cpus = 2
        memory = 2.GB
    }

    withLabel: medium_process {
        cpus = 8
        memory = 14.GB
    }

    withLabel: high_mem {
        cpus = 8
        memory = 62.GB
    }

    withLabel: alignment {
        cpus = 32
        memory = 62.GB
    }

    withLabel: reporting {
        cpus = 16
        memory = 120.GB
    }

    withLabel: ubuntu_python3 {
        container = "ubuntu_python3:1.0.0"
    }

    withLabel: bcftools_tabix {
        container = 'bcftools_tabix:1.0.0'
    }

    withLabel: bwa {
        container = 'bwa:1.0.0'
    }

    withLabel: expansion_hunter {
        container = 'expansion_hunter:1.0.0'
    }

    withLabel: fastqc {
        container = "fastqc:1.0.0"
    }

    withLabel: cn_mops {
        container = 'panelcn.mops:1.0.0'
    }

    withLabel: picard {
        container = 'picard:1.0.0'
    }

    withLabel: samtools {
        container = 'samtools:1.0.0'
    }

    withLabel: snpeff_tabix {
        container = 'snpeff_tabix:1.0.0'
    }

    withLabel: strelka2 {
        container = 'strelka2:1.0.0'
    }

    withLabel: trimmomatic {
        container = 'trimmomatic:1.0.0'
    }

    withLabel: multiqc {
        container = 'multiqc:1.0.0'
    }

    withLabel: manta {
        container = 'manta:1.0.0'
    }
}