process {
    executor = 'awsbatch'
    queue = 'hakmonkey-highPriority'
    container = '178175818611.dkr.ecr.us-east-1.amazonaws.com/wgs-ufl:latest'
    errorStrategy = 'retry'
    maxRetries = 4

    withLabel: small_process {
        cpus = 4
        memory = 4.GB
    }

    withLabel: medium_process {
        cpus = 8
        memory = 8.GB
    }

    withLabel: high_mem {
        cpus = 4
        memory = 32.GB
    }

    withName: alignTrimmedReads {
        cpus = 32
        memory = 16.GB
    }
}

aws {
    region = 'us-east-1'
    accessKey = ''
    secretKey = ''

    client {
        maxErrorRetry = 4
    }

    batch {
        maxTransferAttempts = 4
        delayBetweenAttempts = 25
    }
}

docker {
    enabled = true
}